<!--@subject {{trans "Product Request Quote From from %store_name" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var message_1":"Custom Message 1",
"var message_2":"Custom Message 2"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-info">
         <td>
            <h1>{{trans "Request Quote Form Data"}}</h1>
        </td>
    </tr>
</table>
<table>
     <tr>{{trans "Name: %name." name=$name}}</tr>
    <tr>{{trans "Email: %email." email=$email}}</tr>
    <tr>{{trans "Phone NO: %phoneno." phoneno=$phoneno}}</tr>
    <tr>{{trans "Comments: %comments." comments=$comments}}</tr>
    <tr>{{trans "Product Id: %product_id." product_id=$product_id}}</tr>
    <tr>{{trans "Product Name: %product_name." product_name=$product_name}}</tr>
</table>
