<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Conceptive\Requestquote\Controller\AbstractController\RequestquoteLoaderInterface" type="\Conceptive\Requestquote\Controller\AbstractController\RequestquoteLoader" />
    <preference for="Magento\CatalogWidget\Block\Product\ProductsList" type="\Conceptive\Requestquote\Block\Product\ProductsList" />
</config>
